#works {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#works td, #works th {
  border: 1px solid #ddd;
  padding: 8px;
}

#works tr:nth-child(even){background-color: #f2f2f2;}

#works tr:hover {background-color: #ddd;}

#works th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

#works th:first-child {
  width: 15%;
}

#works td:first-child {
  text-align: center
}