.carousel-container {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery-container {
    height: 450px;
}

.thumbs {
    margin: 0 auto;
}
.thumb {
    height: 50px;
}

.gallery-img {
    height: 100%;
}